
:root {
  --ff-main: 'Quicksand', sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --text: #050301;
  --background: #fdf8ed;
  --primary: #040f28;
  --secondary: #cdb0f2;
  --accent: #1d56dd;

}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-main);
}
img, svg, picture, video, canvas, iframe {
  max-width: 100%;
  display: block;
}
button, input, select, textarea {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* GENERAL STYLING */
iframe {
  margin-inline: auto;
}
a {
  text-decoration: none;
  color: var(--text);
}
li {
  list-style-type: none;
}
.copyright,legend {
  text-align: center;
}

/* TYPOGRAPHY */

.gradient {
  font-size: 3.5rem;
  line-height: normal;
  background: #0D097D;
  background: linear-gradient(to right, #0D097D 0%, #2667EB 39%, #38C9F5 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.item__feature {
  font-size: 2em;
  font-weight: var(--fw-600);
  line-height: 1.2;
  color: var(--primary);
  padding-bottom: 0.5em;
}
.item__desc {
  font-weight: var(--fw-500);
}
.highlight {
  color: var(--accent);
}
.build, .price {
  font-size: 1.2em;
  color: var(--accent);
  font-weight: var(--fw-600);
}
.desc {
  font-weight: var(--fw-500);
  padding-top: 0.5em;
}
.item__build {
  padding-bottom: 0.5em;
}
/* UTILITIES */
.container {
  width: 80%;

}
.centered {
  margin-inline: auto;
}
.avatar {
  width: 80%;
  margin-inline: auto;
}
.spaced-flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.container--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tile {
  background-color: var(--background);
  box-shadow: 0 0 2px 2px #cdb0f2;
  padding: 1em;
  border-radius: 1em;
}
.flex {
  display: flex;
  gap: 0.5em;
}
.secondary-bg {
  background-color: var(--secondary);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 2px 2px #cdb0f2;
}
/* PAGE LAYOUT  */

.item--one {
  grid-area: title;
}
.item--two {
  grid-area: product;
}
.item--three {
  grid-area: feature1;
}
.item--four {
  grid-area: feature2;
}
.item--five {
  grid-area: feature3;
}
.item--six {
  grid-area: video;
}
.item--seven {
  grid-area: review;
}
.item--eight {
  grid-area: build1;
}
.item--nine {
  grid-area: build2;
}
.item--zero {
  grid-area: build3;
}

/* HEADER STYLING */
#header {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em 0;
  background-color: white;
}
.nav-hover {
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}
.nav-hover:hover {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}
/* MAIN STYLING */
.avatar {
  background-color: var(--accent);
  padding: 1em;
  color: var(--background);
  border-radius: 1em;
}
.avatar__img {
  height: 3.5em;
  width: 3.5em;
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
}
.avatar-name {
  margin-bottom: 0.2em;
}
.avatar-title {
  opacity: 0.5;
}
.testimonial {
  margin-top: 1em;
}
.item__img {
  border-radius: 1em;
  object-fit: contain;
}
#header-img {
  width: 1.6em;
  height: 1.6em;
  object-fit: contain;
}
.desc {
  border-top: 1px solid var(--primary);
  margin-bottom: 0.5em;
}
.item__button {
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: var(--primary);
  color: var(--background);
}
.item__link {
  width: 100%;
  border: 0;
  border-radius: 0.4em;
  padding: 0.4em;
  background-color: var(--primary);
  color: var(--background);
}
.item__info {
  margin-bottom: 0.5em;
}
.item__desc {
  font-size: 1.3;
}

/* FOOTER STYLING */
footer {
  margin-top: 3em;
  padding-top: 1em    ;
  background-color: var(--secondary);
  width: 100%;
}
.form-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset {
  border: 0;
}
legend {
  font-weight: var(--fw-600);
  font-size: 1.5em;
}
#email {
  border: 1px solid var(--secondary);
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0.2em;
  width: 40ch;
  text-align: center;
  cursor: pointer;
}
#submit {
  padding: 0.4em;
  border: 0;
  border-radius: 0.5em;
  background-color: var(--primary);
  color: var(--secondary);
  margin-bottom: 1em;
  cursor: pointer;

}
.copyright {
  padding-bottom: 1em;

}
/* MEDIA QUERIES */

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 2em;
    grid-template-areas:
      "title"
      "product"
      "feature1"
      "feature2"
      "feature3"
      "video"
      "review"
      "build1"
      "build2"
      "build3";
      margin-top: 5em;

  }
  .item {
    margin-bottom: 2em;
  }

  .item__desc {
    font-size: 1em;
  }
  .gradient {
    font-size: 1.5em;
  }
  .container,
  .container--grid {
    width: 85%;
    max-width: 430px;
    margin-inline: auto;
  }
  .container--grid {
    display: grid;
    grid-template-columns: 15% 1fr;

  }
  .item--six {
    background-color: #050301;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    overflow: hidden;
  }
  footer {
    width: 100%;
  }
  #email {
    max-width: 80%;
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "title    title    title    title    title    title"
      "product  product  product  video    video    video"
      "feature1 feature1 feature2 feature2 feature3 feature3"
      "review   review   review    review   review   review"
      "build1   build1   build2   build2   build3   build3";
    gap: 2em;
    margin-top: 5em;
  }
  .item--six {
    background-color: #050301;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    overflow: hidden;
  }
  .container,
  .container--grid {
    width: 85%;
    max-width: 900px;
    margin-inline: auto;
  }
}
@media (min-width: 993px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "title    title    product"
      "feature1 feature2 feature3"
      "video    video    video"
      "review   review   review"
      "build1   build2   build3";
    gap: 2rem;
    margin-top: 4em;
  }
  .container {
    max-width: 1100px;
    margin-inline: auto;
  }
}
@media (min-width: 1281px) {
